/* Contact starts*/
#contact {
    width: 100%;
    min-height: 100vh;
    background-image: url(../photos/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.contact-container {
    color: #F7FFEB;
    position: relative;
    line-height: 65px;
    font-size: 18px;
    width: 100%;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.contact-follow-us {
    width: 500px;
    display: inline-block;
}

.working-hours {
    width: 500px;
    display: inline-block;
}

.contact-form {
    width: 500px;
    display: inline-block;
}

.contact-info h3 {
    font-size: 25px;
    font-weight: 700;
    color: #F56438;
    letter-spacing: 1px;
}

.contact-follow-us i {
    color: #F56438;
    margin-right: 10px;
    font-size: 20px;
}

.contact-follow-us p {
    color: #F7FFEB;
    font-size: 18px;
    letter-spacing: 1px;
}

.follow-icons i {
    color: #F7FFEB;
    font-size: 30px;
    margin-right: 20px;
}

.working-hours a {
    color: #F7FFEB;
    font-size: 25px;
    margin-right: 20px;
}

.working-hours p {
    color: #F7FFEB;
    font-size: 18px;
    letter-spacing: 1px;
}

.contact-form h3 {
    font-size: 25px;
    font-weight: 700;
    color: #F56438;
    letter-spacing: 1px;
}

.contact-form .send-btn {
    background: #F56438;
    padding: 10px 25px;
    color: #F7FFEB;
    border-color: #F7FFEB;
    border-width: 1px;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.7s;
}

.contact-form .send-btn:hover {
    scale: 1.1;
    cursor: pointer;
}

.contact-form input {
    position: relative;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border: #F56438;
    border-width: 1px;
    border-style: solid;
}

.contact-form textarea {
    position: relative;
    width: 50%;
    margin-top: 10px;
    border: #F56438;
    border-width: 1px;
    border-style: solid;
}

/* Contact ends*/